{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": "off",
    "no-unused-vars": ["warn"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "object-shorthand": ["error", "properties"],
    "func-names": ["warn", "as-needed"]
  },
  "env": {
    "node": true
  }
}
