mixin global(noHead)
  if !noHead
  .main_header(data-href='01,default')
  .main_header-nav
    a.calc.calc_1(data-href="01,default") Выгода для аптек
    a.calc.calc_2(data-href="02,default") Предельные цены ЖНВЛП
  .sub_header
  .btn_backFromPres(data-href='backFromPres')

  .back-from-dop-btn(data-href='backFromDop')
  .footer
    .dopMenuModule(data-footerstate='0')
      .dopMenuModule__layout(data-footerstate='0')
        .dopMenuModule__list

    .layout(data-footerstate='0')
      .layout__wrap

    .main_footer(data-footerstate='0')
      .main_footer__icon.main_footer__icon--ref(data-footerstate='1')
      .main_footer__icon.main_footer__icon--home(data-href='cob_01_astma,default')
      .main_footer__icon.main_footer__icon--instr(data-footerstate='2')
      .main_footer__icon.main_footer__icon--dop_slide(data-href='cob_28,other_dop_branch')
      .main_footer__icon.main_footer__icon--dop_menu(data-footerstate='4')

    .refsModule(data-footerstate='0')
      .refsModule__content
        .refsModule__innerHTML
